@import "compass/css3/";
@import "mixins.scss";

#wrapper {
	width: 100%;
	height: 100%;
	@include perspective(800px);
	@include perspective-origin(50% 200px);
}

#dice {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: 125px;
	width: 200px;
	@include animation(spin, infinite, linear, 10s, 0s);
	@include transform-style(preserve-3d);
	&:hover{
		@include animation-play-state(paused);
	}
}

.panel {
	border: 1px solid #aaa;
	background: #000;
	color: #fff;
	font-size: 11em;
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0.3;
	text-align: center;
	@include box-sizing(border-box);
	@include transform-style(preserve-3d);
	&:hover {
		background: #fff;
		color: #000;
	}
}

#one   {@include transform(scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px)); }
#two   {@include transform(scale3d(1.2, 1.2, 1.2) translateZ(100px)); }
#three {@include transform(scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px)); }
#four  {@include transform(scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px)); }
#five  {@include transform(scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px)); }
#six   {@include transform(scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg)); }

@include keyframes(spin) {
	0%   { @include transform(rotateX(0) rotateY(0) rotateZ(0)); }
	50%  { @include transform(rotateX(150deg) rotateY(-180deg) rotateZ(120deg)); }
	100% { @include transform(rotateX(0) rotateY(-360deg) rotateZ(0)); }
}
